// Import page-specific CSS files here.
@import "home";
.banner-index {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner-index h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner-index p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(153,40,44);
  transition: background 0.3s ease;
  margin: 10px 0;
}

.btn-flat:hover {
  background: rgb(202,113,117);
  color: white;
}

.cards-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-product {
  overflow: hidden;
  width: 33%;
  height: 70px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}
